node_modules/
.env
backend/.env
npm-debug.log*
coverage/
.DS_Store
backend/uploads/payment-proofs/*
!backend/uploads/payment-proofs/.gitkeep
backend/uploads/products/*
!backend/uploads/products/.gitkeep
backend/uploads/payment-options/*
!backend/uploads/payment-options/.gitkeep
*.log
