MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce
JWT_SECRET=change-this-secret-in-production
JWT_EXPIRES_IN=1d
PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5000

DEFAULT_ADMIN_NAME=Default Admin
DEFAULT_ADMIN_EMAIL=default.admin@example.com
DEFAULT_ADMIN_PASSWORD=ChangeMe123!
